<!DOCTYPE html >
<html>
  <head>
    <title>Ceneo Scraper</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  </head>
  <body>
    {% block content %}
     
    {% endblock %}
    </div><hr></div>

    <footer class="container text-center p-3">
        <div class='col-12'>
          <p style="font-size:13px;">&copy; Borycka Kinga 2020</p> 
          <p style='margin-bottom: 2px!important;'><a class=" link" href="https://github.com/kingaborycka/CeneoScraper" role="button">Projekt na GitHubie</a></p>
          <a class=" link" style="font-size:13px;margin-right:2.5px!important;" href="http://www.freepik.com">Zdjęcia: rawpixel.com / Freepik</a>
          <span style="font-size:13px;display:center!important;margin-left:2.5px!important;">Ikony: <a href="https://www.flaticon.com/authors/gregor-cresnar" class='link mx-auto' title="Gregor Cresnar">Gregor Cresnar</a> z <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span>
      </div>
    </footer>

  </body>
</html>