{% extends 'base.html' %}
{% block content %}
    <main role="main" style='margin-top:5rem;'>
        <div class="container" >
            <h3 id='product_name'>{{name}}</h3>
            {% for table in tables %}
                {{ table|safe}}
            {% endfor %}       
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#example').DataTable()
            $('#example_filter').remove()
            } );
    </script>
{% endblock %}